.toast{
   display: flex;
   align-items: center;
   background-color: white;
   border-radius: 2px;
   border-left: 0ch;
}
.toast__icon{

}
.toast__body{

}
.toast__title{

}
.toast__msg{

}
.toast__close{

}
